vendor
build
bin
.DS_Store
test-cmds

## Below from https://github.com/github/gitignore/blob/master/Go.gitignore ##

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# TUF metadata
pkg/autoupdate/assets/
pkg/autoupdate/bindata.go
tools/notary/config/private
tools/notary/config/tuf

# Generated assets
pkg/packagekit/internal/assets.go
pkg/packagekit/wix/internal/assets.go

# VS Code Files
.vscode/
.devcontainer/

# scratch pad (notes used during development)
scratch.*
/scratch
/debug
