<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="2">
	<title>{{.Title}}</title>
	<pkg-ref id="com.{{.Identifier}}.launcher">
		<bundle-version>
			<bundle CFBundleShortVersionString="{{.Version}}" CFBundleVersion="{{.Version}}" id="com.{{.Identifier}}.launcher" path="usr/local/{{.Identifier}}/Kolide.app"/>
		</bundle-version>
	</pkg-ref>
	<options customize="never" require-scripts="false" hostArchitectures="x86_64,arm64"/>
	<choices-outline>
		<line choice="default">
			<line choice="com.{{.Identifier}}.launcher"/>
		</line>
	</choices-outline>
	<choice id="default"/>
	<choice id="com.{{.Identifier}}.launcher" visible="false">
		<pkg-ref id="com.{{.Identifier}}.launcher"/>
	</choice>
	<pkg-ref id="com.{{.Identifier}}.launcher" version="{{.Version}}" onConclusion="none">#{{.PkgName}}</pkg-ref>
	<allowed-os-versions>
		<os-version min="10.14"/>
	</allowed-os-versions>
</installer-gui-script>
