<plist version="1.0">
<dict>
    <key>com.apple.application-identifier</key>
    <string>X98UFR7HA3.com.kolide.agent</string>
    <key>com.apple.developer.associated-domains</key>
    <array>
        <string>applinks:auth.kolide.com</string>
        <string>applinks:sso.kolide.com</string>
    </array>
</dict>
</plist>
