<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>launcher</string>
	<key>CFBundleIdentifier</key>
	<string>com.kolide.agent</string>
	<key>CFBundleName</key>
	<string>Kolide</string>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>Kolide.icns</string>
 	<key>CFBundleShortVersionString</key>
	<string>VERSIONPLACEHOLDER</string>
	<key>CFBundleVersion</key>
	<string>VERSIONPLACEHOLDER</string>
</dict>
</plist>