name: actionlint

# See https://github.com/rhysd/actionlint

on:
  pull_request:
    branches:
      - main
      - master

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.19
      - name: install actionlint
        run: go install github.com/rhysd/actionlint/cmd/actionlint@latest
      - name: actionlint
        echo "::add-matcher::.github/actionlint-matcher.json"
        run: actionlint -color -ignore 'SC2016:'
