name: actionlint

# See https://github.com/rhysd/actionlint

on:
  pull_request:
    branches:
      - main
      - master

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: '1.20' # Need quotes, see https://github.com/actions/setup-go/issues/326#issuecomment-1415636066
      - name: install actionlint
        run: go install github.com/rhysd/actionlint/cmd/actionlint@latest
      - name: actionlint
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          actionlint -color
