name: actionlint

# See https://github.com/rhysd/actionlint

on:
  pull_request:
    branches:
      - main
      - master

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - name: install actionlint
        # latest version [https://github.com/rhysd/actionlint/releases/tag/v1.6.16] causing:
        # Error: ../../../go/pkg/mod/github.com/mattn/go-runewidth@v0.0.13/runewidth.go:6:2: //go:build comment without // +build comment
        run: go install github.com/rhysd/actionlint/cmd/actionlint@ v1.6.16
      - name: actionlint
        run: actionlint -format '{{range $err := .}}::error file={{$err.Filepath}},line={{$err.Line}},col={{$err.Column}}::{{$err.Message}}%0A```%0A{{replace $err.Snippet "\\n" "%0A"}}%0A```\n{{end}}' -ignore 'SC2016:'
