name: ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:
    name: launcher
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-18.04
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2
      id: checkout

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go

    - name: Get dependencies
      run: make deps

    - name: Lint
      run: make -j lint

    - name: Build
      run: make -j darwin-xp-{launcher,extension,grpc-extension}

    - name: Test
      run: make test
