name: ci

on:
  push:
    branches: [main, master]
  pull_request:
    branches: '**'

env:
  GOVER: 1.17
  RELEASE_TARGETS: launcher,osquery-extension.ext,grpc.ext,tables.ext,package-builder

jobs:
  build_and_test:
    name: launcher
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false # Consider changing this sometime
      matrix:
        os:
          - ubuntu-18.04 # latest has a bunch of version/tool issues
          - macos-latest
          - windows-latest
    steps:
    - name: Check out code
      id: checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0 # need a full checkout for `git describe`

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ${{env.GOVER}}
      id: go

    - name: Get dependencies
      run: make deps

    - name: Build
      run: make -j2 build_{${{env.RELEASE_TARGETS}}}_noop_{amd64,arm64}

    - name: Lipo
      run: make lipo_{${{env.RELEASE_TARGETS}}}
      if: ${{ matrix.os == 'macos-latest' }}

    - name: Test
      run: make test

    - name: Upload Build
      uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.os }}-build
        path: build/

    - name: Upload coverage
      uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.os }}-coverage.out
        path: coverage.out


  package_builder_test:
    name: package_builder
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-18.04 # latest has a bunch of version/tool issues
          - macos-latest
          - windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # need a full checkout for `git describe`

    - uses: actions/setup-go@v2
      with:
        go-version: ${{env.GOVER}}
      id: go

    - run: make deps
    - id: build
      run: make package-builder
    - name: package
      run: ${{ steps.build.outputs.binary }} make -debug --hostname=localhost --enroll_secret=secret

  # This job is here as a github status check -- it allows us to move
  # the merge dependency from being on all the jobs to this single
  # one.
  ci_mergeable:
    runs-on: ubuntu-latest
    steps:
      - run: true
    needs:
      - build_and_test
      - package_builder_test
