name: govulncheck

on:
  push:
    branches: [main, master]
  pull_request:
    branches: '**'
  merge_group:
    types: [checks_requested]


jobs:
  govulncheck:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    name: lint
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
           go-version-file: './go.mod'
           check-latest: true
           go-package: ./...

  # This job is here as a github status check -- it allows us to move
  # the merge dependency from being on all the jobs to this single
  # one.
  govulncheck_mergeable:
    runs-on: ubuntu-latest
    steps:
      - run: true
    needs:
      - govulncheck