name: lint

on:
  push:
    branches: [main, master]
  pull_request:
    branches: '**'
  merge_group:
    types: [checks_requested]


jobs:
  golangci:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    name: lint
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: './go.mod'
          check-latest: true

      - run: make deps

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          skip-pkg-cache: true

      # Run again as a workaround for https://github.com/golangci/golangci-lint-action/issues/362
      - name: golangci-lint
        if: ${{ always() }}
        run: golangci-lint run
  govulncheck:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    name: govulncheck
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
           go-version-file: './go.mod'
           check-latest: true
           go-package: ./...

  # This job is here as a github status check -- it allows us to move
  # the merge dependency from being on all the jobs to this single
  # one.
  lint_mergeable:
    runs-on: ubuntu-latest
    steps:
      - run: true
    needs:
      - golangci
      - govulncheck
