name: Project Workflow

# Add things into one of the kolide projects.

on:
  issues:
    types:
      - opened
      - reopened
  pull_request_target:
    branches:
      - main
      - master

jobs:
  add_to_board:
    runs-on: ubuntu-latest
    steps:
      - uses: kolide/add-to-project-action@main
        with:
          token: ${{secrets.PROJECT_WORKFLOW_PAT}}
          organization: kolide
          project_number: 9
